@import url("https://fonts.googleapis.com/css1?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "poppins", sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  color: #fff;
}

.header {
  background-image: url(anjay.jpg);
  padding: 5px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header h1 { 
  margin: 0;
  font-size: 60px;
  background: rgb(70, 168, 224);
  background: linear-gradient(90deg, 
  rgb(37, 85, 129) 32%, 
  rgb(99, 132, 203) 66%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 10px 0;
  line-height: 1;
  margin-left: 20px;
}


.header p {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0;
  line-height: 1;
  margin-left: 20px;
}

.container {
  max-width: 1500px;
  margin: -150px auto;
  background-color: #2a2a2a;
  padding: 20px 20px 20px;
  border-radius: 20px;
  max-height: -2000px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #555;
}

.profile-info {
  flex: 1;
  padding-left: 20px;
}

.profile-info h2 {
  margin: 0;
  font-size: 20px;
}

.profile-info p {
  margin: 10px 0 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.milih {
  margin-right: 20px;
  border: 2px solid #708090;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #fff;
  cursor: pointer;
}

button:hover {
  box-shadow:0px 0px 7px white;
  text-shadow:0px 0px 7px #fff;
}


table {
  width: 100%;
  border-collapse: separate; 
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-spacing: 12px; 
}

td {
  padding: 15px;
  border: 1px solid #444;
  text-align: left;
  border-radius: 10px; 
  transition-property: transition;
  transition-duration: 300ms;
}

td:hover {
  background-color: rgba(192, 192, 192, 0.6);
}

.keterangan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span{
  font-size: 12px;
  margin-right: 10px;
}

.list{
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 12px;
  display: flex;
  margin-left: 20px;
}

.milih img {
  display: flex;
  flex-direction: row;
}